@model IEnumerable<bank_client.ServiceReference1.TransactionHistory>
@{
    ViewBag.Title = "Transactionhistory";
}
<div class="container">
    <div class="slim-pageheader">
        <ol class="breadcrumb slim-breadcrumb">
            <li class="breadcrumb-item active"><a href="#">Home</a></li>
            <li class="breadcrumb-item"><a href="#">Lịch Sử Giao Dịch</a></li>
        </ol>
        <h6 class="slim-pagetitle">lịch Sử Giao Dịch</h6>
    </div><!-- slim-pageheader -->
    <div class="slim-mainpanel">
        <div class="container">
            <div class="section-wrapper mg-t-20">
                <label class="section-title">Lịch Sử Giao Dịch</label>
                <div class="table-responsive">
                    <table class="table table-bordered mg-b-0">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(m => m.TransactionId)</th>
                                <th>@Html.DisplayNameFor(m => m.SenderName)</th>
                                <th>@Html.DisplayNameFor(m => m.RecevierName)</th>
                                <th>@Html.DisplayNameFor(m => m.SenderAccountNumber)</th>
                                <th>@Html.DisplayNameFor(m => m.RecevierAccountNumber)</th>
                                <th>@Html.DisplayNameFor(m => m.Amount)</th>
                                <th>@Html.DisplayNameFor(m => m.TransactionType)</th>
                                <th>@Html.DisplayNameFor(m => m.Message)</th>
                                <th>@Html.DisplayNameFor(m => m.CreatedAt)</th>

                            </tr>
                        </thead>
                        <tbody>
                            @if (Model != null)
                            {
                                foreach (var item in Model)
                                {
                                    <tr>
                                        <th scope="row"># @Html.DisplayFor(m => item.TransactionId)</th>
                                        <th>@Html.DisplayFor(m => item.SenderName)</th>
                                        <th>@Html.DisplayFor(m => item.RecevierName)</th>
                                        <th>@Html.DisplayFor(m => item.SenderAccountNumber)</th>
                                        <th>@Html.DisplayFor(m => item.RecevierAccountNumber)</th>
                                        <th>$@Html.DisplayFor(m => item.Amount)</th>
                                        <th>@Html.DisplayFor(m => item.TransactionType)</th>
                                        <th>@Html.DisplayFor(m => item.Message)</th>
                                        <th>@Html.DisplayFor(m => item.CreatedAt)</th>
                                    </tr>
                                    }
                            }
                            else
                            {
                                <tr>
                                    <th colspan="9">Không có giao dịch nào gần đây.</th>
                                </tr>
                            }


                            </tbody>
                    </table>
                </div><!-- table-responsive -->
            </div><!-- section-wrapper -->
        </div>
    </div>
</div>