@model  bank_client.Models.Account
@{
    ViewBag.Title = "Register";
}

<div class="signin-wrapper">

    <div class="signin-box signup">
        <h2 class="slim-logo"><a href="index.html">T2009M Bank<span>.</span></a></h2>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="row">
                <div class="col-md-4 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.FistName, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.FistName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.FistName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.LastName, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div> 
                <div class="col-md-6 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.PasswordFor(model => model.Password,  new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-6 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PasswordConfirm, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.PasswordFor(model => model.PasswordConfirm,  new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.PasswordConfirm, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.PhoneNumber, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.PhoneNumber, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-8 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.IndetityNumber, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.IndetityNumber, new { htmlAttributes = new {type= "number", @class = "form-control",min = "0" } })
                            @Html.ValidationMessageFor(model => model.IndetityNumber, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-4 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Birthday, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.EditorFor(model => model.Birthday, new { htmlAttributes = new {@type = "date", @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Birthday, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="col-md-12 mg-b-10">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Address, htmlAttributes: new { @class = "control-label " })
                        <div>
                            @Html.TextAreaFor(model => model.Address,  new {  @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div><!-- row -->
            <button class="btn btn-primary btn-block btn-signin">Đăng Ký</button>

        }

        @*
        <div class="signup-separator"><span>or signup using</span></div>

        <button class="btn btn-facebook btn-block">Sign Up Using Facebook</button>
        <button class="btn btn-twitter btn-block">Sign Up Using Twitter</button>*@

        <p class="mg-t-40 mg-b-0">Already have an account? <a href="page-signin.html">Sign In</a></p>
    </div><!-- signin-box -->

</div><!-- signin-wrapper -->
